/* map style */
#map {
		width: 100%;
		height: 100%;
		border: 0px;
		padding: 0px;
		position: absolute;
	 }
	 
/* body global style */
body {
	border: 0px;
	margin: 0px;
	padding: 0px;
	height: 100%;
	font-family: sans-serif;

	 }
	 
/* about box */
#about {
	background:white;
	opacity:0.75;
	position:absolute;
	margin:5px;
	padding:5px;
	left:0px;
	bottom:0px;
	z-index:1000;
	font-size: x-small;
	   }

#list {
		background:white; 
		opacity:0.75;
		position:absolute; 
		margin:10px; 
		padding:10px; 
		right:0px; 
		top:150px;
		bottom:80px; 
		z-index:1000; 
		font-size: small;
	   }
	   
#list ul {
	color: black;
	font-style: normal;
	font-weight: normal;
	font-size: x-small;
	text-align: left;
	list-style-type: none;
	padding: 0px;
	margin: 0px;
	height: 100%;
	overflow: auto;
	clip: auto
		}
		
/* logo box */
#logo {
	background-image:url('cctv0.png');
	background-repeat:no-repeat;
	position:absolute;
	margin:10px;
	padding:0px;
	height:80px;
	left:80px;
	z-index:1000;
	}
#logo p {
	font-size: x-large;
	font-weight: bold;
	margin-left: 90px;
	}
.imageFloatRight
{
	float:right;
 	font-size: x-small;
}/* override Attribution box (OpenLayers) */
.olControlAttribution {
	background:white;
	opacity:0.75;
	position:absolute;
	padding:5px;
	margin:5px;
	right:0px;
	bottom:10px;
	font-size: x-small;
	   }
/* override Permalink box (OpenLayers) */
.olControlPermalink {
	background:white;
	opacity:0.75;
	position:absolute;
	padding:5px;
	margin:5px;
	right:0px;
	bottom:0px;
}
/* override Popup (OpenLayers) */
.olPopup {
	overflow:inherit;
}
.olPopup * {
	margin: 0px;
	padding:0px;
}
.olPopup .olPopupContent h2 {
	font-size: medium;
	text-align: center;
	padding: 2px 0px 2px 0px;
	margin: 0px 6px 0px 6px;
}
.olPopup .olPopupContent {
	min-width:200px;
	background-color: #ffffff !important;
	opacity:0.75;
	padding: 1px !important;
	margin: 0px !important;
	font-size: small;
}
.olPopupContent ul {
	text-indent: 10px;
	list-style-type: disc;
	list-style-position: outside;
}
.olPopupContent p {
	margin: 4px 0px; 
}
